name: Comp Unit Tests

on:
  push:
    branches: [ main ]
    path-ignores:
      - 'experiments/**'
      - 'studies/**'
  pull_request:
    branches: [ main ]
    path-ignores:
      - 'experiments/**'
      - 'studies/**'

jobs:
  discover-folders:
    runs-on: ubuntu-latest
    outputs:
      years: ${{ steps.detect.outputs.years }}

    steps:
      - uses: actions/checkout@v4

      # Detect folders inside comp/ that are 4-digit numbers
      - id: detect
        run: |
          YEARS=$(ls -d comp/[0-9][0-9][0-9][0-9] 2>/dev/null | sed 's#comp/##' | jq -R . | jq -s .)
          echo "Detected year folders: $YEARS"
          echo "years=$YEARS" >> "$GITHUB_OUTPUT"

  build:
    needs: discover-folders
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        year: ${{ fromJson(needs.discover-folders.outputs.years) }}

    defaults:
      run:
        working-directory: ./comp/${{ matrix.year }}

    container: wpilib/roborio-cross-ubuntu:2024-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Add repository to git safe directories
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Checkstyle
        run: ./gradlew checkstyleMain

      - name: Upload Checkstyle report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report-${{ matrix.year }}
          path: build/reports/checkstyle/

      - name: Compile and run tests
        run: ./gradlew build

      - name: Run test suite
        run: ./gradlew test

      - name: Generate Docs
        run: ./gradlew javadoc

      - name: Upload Javadocs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: javadocs-${{ matrix.year }}
          path: build/docs/javadoc
